body {
    display: grid;
    grid-template-columns: auto 1fr auto /300px 1fr auto;
    height: 100vh;
}

header {
    background-color: gray;
    padding: 5px 10px;
    grid-column: 1 / 4;
    
}
header nav {
    background-color: black;
    margin-bottom: 0;
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    color: white;

}

main {
    background-color: lightblue;
    grid-column: 1 / 3;
    text-align: center;
    padding: 20px;
}
aside {
    background-color: black;
    grid-column: 3 / 4;
    color: white;
    text-align: center;
    padding: 20px;
}
footer {
    background-color: gray;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}
.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}