

body {
    display: grid;
    grid-template-columns: auto 1fr auto /300px 1fr auto;
    height: 100vh;
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: gray;
    padding: 5px 10px;
    grid-column: 1 / 4;
    
}
header nav {
    background-color: black;
    margin-bottom: 0;
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    color: white;

}

main {
    background-color: lightblue;
    grid-column: 1 / 3;
    text-align: center;
    padding: 20px;
}
aside {
    background-color: black;
    grid-column: 3 / 4;
    color: white;
    text-align: center;
    padding: 20px;
}
footer {
    background-color: gray;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    padding: 10px;
}
.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}
.card1 img {
    float: right;
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card2 img {
    float: left;
    width: 100px;
    border-radius: 10px;
    margin: 0;
    height: auto;
    
}
#course-title {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    
}


