


body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
main {
    padding: 0 2%;
    min-height: 20rem;
    
}
.review-form {
    background-color: #eee;
    padding: 5px;
    padding: 2rem;
}


h1 {
    margin-bottom: .5rem;
    background-color: #292933;
    color: white;
    padding: .5rem;
    text-align: center;
}

.review-form label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;

}
 .review-form textarea {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: .9rem;
}

.review-form input[type="text"],
.review-form input[type="email"],
.review-form input[type="tel"],
.review-form input[type="url"],
.review-form input[type="date"],
.review-form input[type="number"],
.review-form select
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    color: #555;
    max-width: 400px;
}

.review-form input[type="radio"],
.review-form input[type="checkbox"] {
    margin-right: 6px;
    
}
.review-form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 2rem 0;
    box-shadow: 1px 1px 4px #999;
}
.review-form input:required:valid {
    border-bottom: solid 1px green;
}
.review-form input:required {
    border-bottom: solid 2px red;
}
.review {
  display: flex;
  gap: .5rem;
  align-items: center;

}
.stars {
  display: flex;
  gap: .25rem;

}

 .stars label {
  font-size: 1.5rem;
  cursor: pointer;

  }
  footer {
    background-color: #292933;
    padding: .5rem 2%;
    color: white;
    text-align: center;
    margin-top: .5rem;
  }









@media only screen and (min-width: 64rem) {

     main, footer {
        max-width: 64rem;
        margin: 1rem auto;
        padding: 10px;
    }
}